.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
}

.container {
  position: relative;
  padding: 50px 100px;
  width: 95%;
  max-width: 100%;
  align-items: center;
  height: calc(100vh - 40px);
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba;
}
